<header class="hero">
<nav class="navbar">
<div class="logo">
      <img alt='logo' style=" " class="logo" src="{{ url_for('static', filename='logo.jpg') }}">
</div>

<button class="menu-toggle" onclick="toggleMenu()">☰</button>

<ul class="nav-links" id="navLinks">
<li><a href="#" onclick="window.history.back(); return false;" class="">← Go Back</a>
<li> <a href="{{ url_for('home') }}" >Main Menu</a>
<li><a href="{{ url_for('login') }}">Logout</a>

</ul>
</nav>
</header>

<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
