<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Welcome, Login, Free Account" />
  <meta name="description" content="Welcome, login or join Clusters Hub " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Clusters Hub Lite</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
 
</head>
<body>
{% include 'partials/header.html' %}
  
 <center>
 <img src="{{url_for('static', filename='banner.jpg')}}" style="width: 100%;border-radius: 10px;">
 </center>
 

 <div class="hero" style="background: url('{{url_for('static', filename='')}}') center/cover no-repeat;
 border-radius: 10px; font: weght: 400;padding: 15px;"> 

 <h3 style="purple">
 Where ideas and teams meet, <a href="{{ url_for('about') }}" > 
 <u>Learn more</u> </a>
  </h3>
,
 <p style="">
 &#160 No account? 
<a href="{{ url_for('register') }}" >
<strong> Create Account </strong>
 </a>
 <small> It takes less than 2 minutes and it's free.</small>
 </p>
 
 </div>
 <button id="install-button" class="dashboardBtn" style="display: none;">✨ Install ClustersHub</button>
 
 <br>
 <center>
 {% if notice %}
 <section style="color: red; border: 1px solid red">
 <i >{{ notice }}</i>
 
 {% endif %}
 </section>
 </center>
 <br>
 
 <section class="create-cluster">
<h2>Login</h2>
<form id="form" action="{{url_for('login_handler')}}" method="POST">
<input type="text/number" name="username" placeholder="Username or Email" required><br>
<input type="password" name="password" placeholder="Password" required><br>
<button class="dashboardBtn" style="background-color: blue;" type="submit">Login</button>

&#160 &#160 <a href="{{url_for('forgot_password')}}" style="text-decoration: none;"> <span style="" class="dashboardBtn"> Forgot Password?</span></a>
<p style="">
&#160 No account? 
<a href="{{ url_for('register') }}" >
<strong> Create Account </strong>
</a>
</p>
</form>

</section>
 <br>
 <section>
  <h1>Featured Clusters</h1>
   {% for cluster in clusters %}
   
   <section class="profile" id="cluster" class="">
   <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
   <a href="{{ url_for('getCluster', id=cluster.id) }}">
   <button class="dashboardBtn" style="float: right;background-color: #1E90FF;"> 👀 View Cluster</button></a>
   <h2>{{ cluster.name }}</h2>
   <p class="about">{{ cluster.target }}</p>      
   
   <section class="badges">
   <strong>Open Slots: </strong>
   {% for tag in cluster.get_tags() %}
   <span class="badge">{{ tag }}</span>
   {% endfor %}
   </section>
   
   </section>
   <br>
   
   
   {% endfor %}  
   
 <center>
 <a href="{{ url_for('home') }}" >
 <h2> More Clusters</h2>
 </center>
 </a>
 </section>
{% include 'partials/footer.html' %}
<script type="text/javascript">
let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent the mini-infobar from appearing
  e.preventDefault();
  // Stash the event so it can be triggered later
  deferredPrompt = e;
  // Show your custom install button
  showInstallButton();
});

function showInstallButton() {
  const installButton = document.getElementById('install-button');
  installButton.style.display = 'block';
  installButton.addEventListener('click', () => {
    // Show the install prompt
    deferredPrompt.prompt();
    deferredPrompt.userChoice.then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        console.log('User accepted the install prompt');
      } else {
        console.log('User dismissed the install prompt');
      }
      deferredPrompt = null;
    });
  });
}

</script>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>