<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="User involved, Clusters" />
  <meta name="description" content="Here is a list of all Clusters you are involved in" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clusters List</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}

  <div class="container">
  <section style="padding: 5px;border: none;">
  <center>
  
  
  <h3 style="color:">Your Current Clusters</h3>
  
  <a href="{{ url_for('user_requests') }}">
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> View sent requests</strong></button>
  </a>
  <br><br>
  </center>
  </section>
  <br>
  
  {% for cluster in clusters %}
  
  <section class="profile" id="cluster" class="">
  <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
  <a href="{{ url_for('getCluster', id=cluster.id) }}"><button class="dashboardBtn" style="float: right;background-color: blue;">🔍 View Cluster</button></a>
  <h3>{{ cluster.name }}</h3>
  <p class="about">{{ cluster.target }}</p>      
  
  <section class="badges">
  <strong>Open Slots: </strong>
  {% for tag in cluster.tags %}
  <span class="badge">{{ tag }}</span>
  {% endfor %}
  </section>
  
  </section>
  <br>
  
  
  {% endfor %}  
  
  </div>
  
  
  
{% include 'partials/footer.html' %}
</body>
</html>