
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Dashboard</title>
  <link rel="stylesheet" href="createCluster.css">
</head>
<body>



  <div class="container">


    <section class="clusters">
      <h2></h2>
      <div class="card">
        <image src="../images/logo.jpg" class="circle" alt="Cluster Picture">
        </div>
        <div>
          <h3>Cluster Name</h3>
          <p>Description</p>
          <div class="tags">
    <span>Tag</span><span>Tag</span><span>Role</span>
          </div>
          <p>Roles needed:</p>
        </div>
      </div>
    </section>


  </div>

</body>
</html>