<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="User involved, Clusters" />
  <meta name="description" content="Here is a list of all Clusters you are involved in" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Clusters</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  
</head>
<body>

{% include 'partials/header.html' %}

  <div class="container">
  <section style="padding: 5px;border: none;">
  <center>
  
  
  <h3 style="color:">Your Current Clusters</h3>
  <center>
  <a href="{{ url_for('user_requests') }}">
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> View sent requests</strong></button>
  </a>
  <br><br>
  </center>
 </center>
  {% for cluster in clusters %}
  
  <section class="profile" id="cluster" class="">
  <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
  <a href="{{ url_for('getCluster', id=cluster.id) }}">
  <button class="dashboardBtn" style="float: right;background-color: #1E90FF;"> 👀 View Cluster</button></a>
  <h2>{{ cluster.name }}</h2>
  <p class="about">{{ cluster.target }}</p>      
  
  <section class="badges">
  <strong>Open Slots: </strong>
  {% for tag in cluster.get_tags() %}
  <span class="badge">{{ tag }}</span>
  {% endfor %}
  </section>
  
  </section>
  <br>
  
  
  {% endfor %}  

 
  <br>
  </section>
  </div>
 
{% include 'partials/footer.html' %}
<script>
  const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');
  
  document.addEventListener('click', (event) => {
  if (event.target.classList.contains('dashboardBtn')) {
  audio.play();
  }
  });
  
</script>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>