<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="About, Cluster, Details" />
  <meta name="description" content="Here is information about Cluster" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Details</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">

<style type="text/css">
.modal {
  display: none; 
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  
}
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid green;
  width: 60%;
  border-radius: 5px;
}
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
} 
</style>
</head>
<body>

{% include 'partials/header.html' %}
 
<div class="container">

<section style="padding: 1px;border: none;">
    <center>
  <h3>Cluster Details</h3>
  </center>
</section>
  <br><br>
  
  <section class="profile" id="cluster">
  
    <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
    
    <span id="button_click">
    <button class="dashboardBtn" style="float: right;background-color: blue;" id="share-button">
    🔗Copy cluster link
    </button>
    </span>
    
    <h3>{{ cluster.name }}</h3>
    <p class="about">{{ cluster.target }}</p>  
    
    <section>
    <strong>🌐 Location </strong> <span class="badge">{{ cluster.location }}</span>
    </section>
    
    <h3>Open Slots</h3>
    <section class="badges">
    {% for tag in cluster.get_tags() %}
    <span class="badge">{{ tag }}</span>
    {% endfor %}
    </section>
    
     <h3>👥 Members </h3>
   <section class="badges">
   {% for member in members %}
   <span class="badge" style="background-color: blue;color: white;link-color: inherit;">
   <a href="{{ url_for('getUser', user_id=member.id) }}" style="color: inherit">@{{ member.name }}</a>
   </span>
   {% endfor %}
   </section>
    
    <h3>About Cluster</h3>
    <section class="about" style="padding:15px;">
    
    <p>{{ cluster.description }}</p>
    </section>
    
    <!-- Request Popup Modal -->
    <section id="requestPopup" class="modal">
    <section class="modal-content">
    
    <div class="create-cluster">
    <span class="close" onclick="closeRequestPopup()">&times;</span>
    <form method="POST" action="{{ url_for('sent_cluster_request', cluster_id=cluster.id) }}"> 
    <input type="hidden" name="cluster_id" id="popupClusterId"> 
    <label for="title">Title</label><br> 
    <input name="title" required placeholder="Type title"><br><br> 
    <label for="message">Message</label><br> 
    <textarea name="message" rows="4" required placeholder="Start typing.."></textarea><br><br> 
    <button type="submit" class="dashboardBtn">Send Request</button> 
    </form>
    
    </div>
    
    </section>
    </section>
    
    <script>
    function openRequestPopup(clusterId) {
    document.getElementById("popupClusterId").value = clusterId;
    document.getElementById("requestPopup").style.display = "block";
    }
    function closeRequestPopup() {
    document.getElementById("requestPopup").style.display = "none";
    }
    </script> 
    
    
    <br>
    <section>
    <center>
    
    
  {% if is_author %}
  <a href="{{ url_for('show_cluster', cluster_id=cluster.id) }}"> 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> Open Cluster </strong></button>
  </a>
  <a href="{{ url_for('requested', cluster_id=cluster.id) }}">
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> Member Requests </strong></button>
  </a>
  <a href="{{ url_for('cluster_updater', id=cluster.id) }}" > 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong>⚙️ Cluster settings </strong></button>
  </a>
  <a href="{{ url_for('cluster_updates', cluster_id=cluster.id) }}"> 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> Open Cluster Updates </strong></button>
  </a>
 <button onclick="openRemoveMembersPopup({{ cluster.id }})" class="dashboardBtn" style="background: red; width: 90%;"><strong> Remove Members </strong></button>
 
 <br><br>
 <section style="display: none; text-align: left; border: none;" id="remove-members-popup" class="popup">
 <h2>Remove Members  <small style="font-size: 16px">Can't be undone!</small></h2>
 <ul>
 {% for member in cluster.get_members() %}
 {% set member_user = User.query.get(member) %}
 
 <li>
 {{ member_user.name }}
 <form method="POST" action="{{ url_for('remove_cluster_member', cluster_id=cluster.id, member_id=member) }}">
 <button type="submit" class="dashboardBtn" style="background: red; text-align: right;">Remove</button>
 </form>
 </li>
 <hr>
 {% endfor %}
 </ul>
 <button onclick="closeRemoveMembersPopup()" class="dashboardBtn" style="background: blue;">Cancel</button>
 </sction>
 
  
  {% elif is_member %}
  <a href="{{ url_for('show_cluster', cluster_id=cluster.id) }}"> 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> Open Cluster </strong></button>
  </a>
  <a href="{{ url_for('cluster_updates', cluster_id=cluster.id) }}"> 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> Open Cluster Updates </strong></button>
  </a>
<button onclick="openExitPopup({{ cluster.id }})" class="dashboardBtn" style="background: red; width: 90%;"><strong> Exit Cluster </strong></button>

<br><br>
<section id="exit-cluster-popup" class="popup" style="display: none">
    <p>Do you really want to exit this cluster? You will lose access to this cluster's conversations and updates.</p>
        <form method="POST" action="{{ url_for('exit_cluster', cluster_id=cluster.id) }}">
        <button type="submit" class="dashboardBtn" style="background: red;">Exit</button>
    </form>
    <button onclick="closeExitPopup()" class="dashboardBtn" style="background: blue;">Cancel</button>
</section>

  
  {% else %}
  {% if requested %}
  <a href="{{ url_for('user_requests') }}"> 
  <button class="dashboardBtn" style="background: ; width: 90%;"><strong> View sent request</strong></button>
  </a>
  {% else %}
  <button onclick="openRequestPopup({{ cluster.id }})" class="dashboardBtn" style="background: ; width: 90%;" id="button_click"><strong> Request membership </strong></button>
  {% endif %}
  {% endif %}
  
   
   
   </center>
   </section>
   
   <br>
<section class="extraText">
    <ul style="list-style: none;">
        <li>Author: <a href="{{ url_for('getUser', user_id=author.id) }}">@{{ author.name }}</a></li>
        <li>Date Created: {{ cluster.created | naturaltime }}</li>
        <li>Status: <b>{{ cluster.status }}</b></li>
    </ul>
</section>
  </section>
 
</div>
 
{% include 'partials/footer.html' %}

<script type="text/javascript">
// Get the button element
const shareButton = document.getElementById('share-button');

// Add an event listener to the button
shareButton.addEventListener('click', async () => {
  try {
    // Get the current URL
    const url = window.location.href;

    // Copy the URL to the clipboard
    await navigator.clipboard.writeText(url);

    // Show a success message (optional)
    alert('Link copied to clipboard!');
  } catch (error) {
    console.error('Error copying link to clipboard:', error);
  }
});


document.addEventListener('click', (event) => {
    if (event.target.classList.contains('dashboardBtn')) {
        const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');
        audio.play();
    }
});



function openExitPopup(clusterId) {
    document.getElementById('exit-cluster-popup').style.display = 'block';
}

function closeExitPopup() {
    document.getElementById('exit-cluster-popup').style.display = 'none';
}

function openRemoveMembersPopup(clusterId) {
    document.getElementById('remove-members-popup').style.display = 'block';
}

function closeRemoveMembersPopup() {
    document.getElementById('remove-members-popup').style.display = 'none';
}
</script>
</body>
</html>