<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Cluster, Settings, Edit Cluster" />
  <meta name="description" content="Change, edit, and add Account information " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Settings</title>
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  </head>
<body>

{% include 'partials/header.html' %}
  
  <div class="container">
  <center>
  {% if notice %}
  <section style="color: red; border: 1px solid red">
  <i >{{ notice }}</i>
  
  {% endif %}
  </section>
  </center>
  <br>
  
  <section style="border: none">
  <center>
  <h2>Edit {{ cluster.name }}</h2>
  </section>
  </center>
  <br>

    <section class="create-cluster">
      <p>Only fill where you want to update</p>
     <form action="{{url_for('cluster_updater', id=cluster.id)}}" method="POST">
     <strong class="">Change Name</strong>
     <input name="name" type="text" placeholder="Cluster Name" class="input"><br><br>
     <strong class="">Edit Description</strong>
     <textarea name="description" placeholder="Description"></textarea><br><br>
     
     <strong class="">Edit Roles Needed</strong><br><br>
     
     
     <div class="tag-input-container">
     <ul id="tag-list"></ul>
     <input type="text" id="tag-input" placeholder=" Update open roles and skills for this Cluster" autocomplete="off" />
     <input type="hidden" name="skills" id="skills-input" />
     <ul id="suggestions"></ul>
     </div>
     
     
     <br><strong class="">Change Location</strong>
     <input type="text" name="location" placeholder=" Locality" class="input">
     <div class="bold_text">  
     <strong>Update Product/Service Status</strong>
     <input type="text/number" name="status" placeholder="Idea or In progress">
     </div>
     
     <br><strong class="">Set New Target</strong>
     <input type="text" name="target" placeholder="start typing.." class="input"><br>     
     
     <button class="dashboardBtn" type="submit"><span style="font-size: 16px;">Update Cluster</span></button>
     </form>
    <br>
    <section style="border: none;">
    <button onclick="openRequestPopup({{ cluster.id }})" class="dashboardBtn" style="background: red; width: 90%;"><strong> Delete Cluster </strong></button>
    </section>
    
    </section>
   
    <section style="display: none;color: red;" id="delete-cluster-popup" class="popup">
    <p style="color: red">Do you really want to delete this cluster? This action cannot be reversed.</p>
    <form method="POST" action="{{ url_for('delete_cluster', cluster_id=cluster.id) }}">
    <button type="submit" class="dashboardBtn" style="background: red;width: 100%;">Delete</button> 
    </form>
   <br> <button onclick="closeRequestPopup()" class="dashboardBtn" style="width: 100%; background: #1E90FF;">Cancel</button>
    
    </section>
    
    
    </div>
    
    {% include 'partials/footer.html' %}
    
    <script>
    const availableTags = {{ suggested_skills | tojson }}
    
    function openRequestPopup(clusterId) {
    document.getElementById('delete-cluster-popup').style.display = 'block';
    }
    
    function closeRequestPopup() {
    document.getElementById('delete-cluster-popup').style.display = 'none';
    }
    
    
    </script>
    
    <script type="text/javascript" src="{{url_for('static', filename='newCluster.js')}}"></script>
    </body>
    </html>