<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clusters</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
 
<div class="container">
  <h2>Cluster Details</h2>
  <section class="profile" id="cluster">
    <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
    
    <h3>{{ cluster.name }}</h3>
    <p class="about">{{ cluster.target }}</p>      
    
    <section class="badges">
    <strong>Open Slots: </strong>
    {% for tag in cluster.tags %}
    <span class="badge">{{ tag }}</span>
    {% endfor %}
    </section>
    
    <section class="badges">
      <strong>Members: </strong>
      {% for member in cluster.members %}
        <span class="badge" style="background-color: blue;color: white;link-color: inherit;">
        <a href="{{ url_for('getUser', name=member) }}" style="color: inherit">@{{ member }}</a>
        </span>
      {% endfor %}
    </section>
    
    <section class="extraText">
      <ul>
        <li>Author: <a href="{{ url_for('getUser', name=cluster.author) }}">@{{ cluster.author }}</a></li>
        <li>Date Created: {{ cluster.created_at }}</li>
      </ul>
    </section>
  </section>
 
</div>
 
{% include 'partials/footer.html' %}
</body>
</html>