body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 2rem;
}

.container {
  padding: 25px;
}

section {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.create-cluster{
paddig: 25px;
width: 100%;
}

.create-cluster input,
.create-cluster textarea,
.create-cluster select,
.profile input {
  display: block;
  width: 70%;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: +15px;
}

.create-cluster textarea{
height: 5rem;
}


.circle {
  width: 40px;
  height: 40px;
  background: #ccc;
  border-radius: 50%;
}

.tags span {
  background: #eee;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}
.tag-input-container {
  position: relative;
  max-width: 500px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
}

#tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 4px 0;
}

#tag-list li {
  background: #007bff;
  color: #fff;
  padding: 6px 10px;
  border-radius: 16px;
  margin: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

#tag-list li span {
  margin-left: 8px;
  cursor: pointer;
}

#tag-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 6px;
  font-size: 14px;
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  list-style: none;
  border: 1px solid #ccc;
  background: skyBlue;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  color: white;
  font-weight: 600;
}

#suggestions li {
  padding: 5px;
  cursor: pointer;
  border-bottom: 0px solid grey;
  margin-left: 
}

#suggestions li:hover {
  background: #eee;
}

.bold_text{
margin-top: +40px;
}