<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='images/logo.jpg')}}">
  </head>
<body>

{% include 'partials/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  

  <div class="container">

    <section class="create-cluster">
      <h2>Create Cluster</h2>
      <strong class=""> Name</strong>
      <input type="text" placeholder="Cluster Name" class="input"><br><br>
      <strong class=""> Description</strong>
      <textarea placeholder="Description"></textarea><br><br>
      
      <strong class="">Roles Needed</strong><br><br>
      <div class="tag-input-container">
      <ul id="tag-list"></ul>
      <input type="text" id="tag-input" placeholder="Add skill or roles you need..." autocomplete="off" />
      <ul id="suggestions"></ul>
      </div>
     
     <div class="bold_text">  
       <strong> Product/Service Status</strong>
        <select class="projectStatus">
          <option>Idea</option>
          <option>In progress</option>
          
          </div>
        </select>
    </section>
    
    </div>
    
    {% include 'partials/footer.html' %}
    
    <script type="text/javascript" src="{{url_for('static', filename='createCluster.js')}}"></script>
    </body>
    </html>