<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clusters | Home</title>
  <meta name="keywords" content="Clusters Hub, Home, Dashboard" />
  <meta name="description" content="Clusters hub main menu | dashboard" />
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}"> 
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
</head>
<body>

{% include 'partials/header.html' %}
  
  <section class="dashboardContainer" style="margin-top: +10px;">
  
  <section style="padding: 5px;border: none;">
  
     <a href="{{ url_for('getUser',user_id=id) }}"><h3>@{{name}}</h3></a>
      </section>
      <br>
      <section>
      <div class="tabs">
      <a href="{{ url_for('recommended_clusters') }}" > <button class="dashboardBtn" style="background-color: blue;" id="mark"><strong>Exclusive Matches</strong></button></a>
        <a href="{{ url_for('startCluster') }}" > <button class="dashboardBtn"><strong>New Cluster</strong></button></a>
        <a href="{{ url_for('clusters') }}" ><button class="dashboardBtn"><strong>My Clusters </strong></button></a>
        <a href="{{ url_for('notifications') }}" ><button class="dashboardBtn"><strong>Notifications</strong> {% if notificationsCount >= 1 %} <b style="color: yellow;font-size: 16px;">{{ notificationsCount }}</b>{% endif %}</button></a>
        <a href="{{ url_for('myProfile') }}" > <button class="dashboardBtn"><strong>👤 Profile</strong></button></a>
        <a href="{{ url_for('register_update') }}" ><button class="dashboardBtn"><strong>⚙️ Profile Settings</strong></button></a>
        <a href="{{ url_for('about') }}" > <button class="dashboardBtn"><strong>About - Feedback</strong></button></a>
      </div>
      </section>
    </section>
  
{% include 'partials/footer.html' %}
  
</body>
<script>
       const playSoundButton = document.getElementById('mark');
       const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');

       playSoundButton.addEventListener('click', () => {
           audio.play();
       });
   </script>
</html>