<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Notifications, Messages" />
  <meta name="description" content="Here are your account notifications" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Notifications</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>
{% include 'partials/header.html' %}
  
  <div class="container">
    <section class="profile">
    
    <section style="padding: 1px;border: none;">
    <center>
        <h3>Notifications</h3> 
      </center>
      </section>
      <br>
      
       {% for message in messages %}
       <section class="">{{ message }}</section><br>
       {% endfor %}
        
      </div>
 </section>
{% include 'partials/footer.html' %}
</body>
</html>