<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Notifications, Messages" />
  <meta name="description" content="Here are your account notifications" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Notifications</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>
{% include 'partials/header.html' %}
  
  <div class="container">
    <section class="profile">
    
    <section style="padding: 1px;border: none;">
    <center>
        <h3>Notifications</h3> 
      </center>
      </section>
      <br>
    
    
    
    
    {% for message in messages %}
    
    <section style="background-color: {% if not message.read %}#d4fdd4{% else %}transparent{% endif %};">
    
    {% if not message.read %}<a href="{{ url_for('mark_read', msg_id=message.id) }}">
   <button class="dashboardBtn" style="background-color: blue;" id="mark"> Mark as read</button>
    {% endif %}
    </a>
    <br><br>
    
    
  <p>
   {{ message.body }} <a href="{{message.url}}" style="text-decoration: none; color: black;"> -<b> View</b></a>
  </p>
    <br>
    <small>{{ message.timestamp | naturaltime }}</small>
    
    </section>
    <br>
    {% endfor %}
   
        
      </div>
 </section>
{% include 'partials/footer.html' %}
</body>

    <script>
        const playSoundButton = document.getElementById('mark');
        const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');

        playSoundButton.addEventListener('click', () => {
            audio.play();
        });
    </script>
</html>
