
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Dashboard</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='images/logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <div class="container">
    <section class="profile">
      <div class="circle"></div>
      <div>
        <h3>{{name}}</h3>
        <strong>About</strong><br>
        <p class="about">{{description}}</p>
        <ul>
        <li>{{email}}
        <li>{{website}}
        </ul>
      </div>
    </section>
  </div>
{% include 'partials/footer.html' %}
</body>
</html>