<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cluster Dashboard</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='images/logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>
{% include 'partials/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <div class="container">
    <section class="profile">
    
      <div class="avatar" id="avatar"></div>
      
      <script>
      const fullName = "{{ name }}";
      const initials = fullName
      .split(' ')
      .map(word => word[0])
      .join('')
      .toUpperCase();
      
      document.getElementById('avatar').textContent = initials;
      </script>
      <div>
        <h3>{{name}}</h3>
        <p class="about">{{description}}</p>
        <strong>Location: </strong><span class="badge">{{location}}</span>
        <section class="badges">
        <span class="badge">{{skillA}}</span>
        <span class="badge">{{skillB}}</span>
        <span class="badge">{{skillC}}</span>
        </section>
        
        <section class="aboutLinks">
        <ul>
        <li>{{email}}
        <li>{{website}}
        </ul>
        </section>
        
      </div>
    </section>
  </div>
{% include 'partials/footer.html' %}
</body>
</html>