<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="User profile, Users" />
  <meta name="description" content="This is User profile on Clusters Hub" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}
  
  
 <div class="container">
 
 <section class="profile">
 
 <button class="dashboardBtn" style="float: right;background-color: blue;" id="share-button">
    🔗Copy Profile link
    </button>
 
 <div class="avatar" id="avatar" style="background-color: green;color: white">                                                                    
 <script>
 const fullName = "{{user.full_name}}";
 if (fullName) {
 const initials = fullName
 .split(' ')
 .map(word => word[0])
 .join('')
 .toUpperCase();
 document.getElementById('avatar').textContent = initials;
 }
 </script>
 </div>
 <br>
 <strong style="border-right: 1px solid green;padding-right: 15px;color:black;">{{ user.full_name | e }} </strong><strong style="padding: 15px"> @{{ user.name | e }}</strong>
 

 <p class="about">{{ user.description | e }}</p>
 
 <h3>Skills </h3>
 <section class="badges">
 {% for skill in user.get_skills() %}
 <span class="badge">{{ skill | e }}</span>
 {% endfor %}
 </section>
 
 <strong>🌐 Location </strong><span class="badge">{{ user.location | e }}</span>
 

 <h3> 🔗 Public links</h3>
 <section class="about_links" >
 
 <strong>
 <ul style="list-style: square;padding: 12px;color: green;">
 <li>{{ user.email | e }}</li><br>
 
 <li>{{ user.website | e }}</li>
 </ul>
 </strong>
 </section>
 
 </div>
 
 
{% include 'partials/footer.html' %}
<script type="text/javascript">

// Get the button element
const shareButton = document.getElementById('share-button');

// Add an event listener to the button
shareButton.addEventListener('click', async () => {
  try {
    // Get the current URL
    const url = window.location.href;

    // Copy the URL to the clipboard
    await navigator.clipboard.writeText(url);

    // Show a success message (optional)
    alert('Link copied to clipboard!');
  } catch (error) {
    console.error('Error copying link to clipboard:', error);
  }
});
</script>
</body>
</html>