<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Exclusive, Hot picks, Recommended" />
  <meta name="description" content="Here are recommended Clusters that match your skills" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommended Clusters</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">

   <script type="text/javascript">
    document.addEventListener('click', (event) => {
    if (event.target.classList.contains('dashboardBtn')) {
    const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');
    audio.play();
    }
    });
   </script>
    
</head>
<body>

{% include 'partials/header.html' %}

<section style="padding: 5px;border: none;">
    <center>
    <h3 style="">
    Here are your Recommended Clusters 👤 <a href="{{ url_for('getUser',user_id=user.id) }}">@{{ user.name }} </a>
    </h3>
    <a href="{{ url_for('recommended_clusters') }}" >
    <button class="dashboardBtn" style="background-color: Orange;" id="mark">
    <strong>Turn on 🤖 AI Deep Matching</strong>
    </button>
    </a> 
    </center>
  
    <div class="container">
    {% if clusters %}
    {% for cluster in clusters %}
    
    <section class="profile" id="cluster">
    <img src="{{ url_for('static', filename='cluster.jpg') }}" class="circle" id="">
    
    <a href="{{ url_for('getCluster', id=cluster.id) }}"><button class="dashboardBtn" style="float: right;background-color: #1E90FF;">👀 View Cluster</button></a>
    
    <h2>{{ cluster.name }}</h2>
    <p class="about">{{ cluster.target }}</p>      
    
    <section class="badges">
    <strong>Open Slots: </strong>
    {% for tag in cluster.get_tags() %}
    <span class="badge">{{ tag }}</span>
    {% endfor %}
    </section>
    
    </section>
    <br>
     
    {% endfor %}  
    {% else %}
    <p>No recommended clusters found.</p>
    {% endif %}
    </div>
    </section>
    {% include 'partials/footer.html' %}
    
</body>
</html>