<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Welcome, Register, Free Account" />
  <meta name="description" content="Welcome, Join for Clusters Hub now " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Clusters Hub</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

<!--{% include 'partials/header.html' %}-->

 <center>
 <img src="{{url_for('static', filename='banner.jpg')}}" style="width: 100%;border-radius: 10px;">
 </center>
 

 <div class="hero" style="background: url('{{url_for('static', filename='')}}') center/cover no-repeat;
 border-radius: 10px; font: weght: 400;padding: 15px;">
 

 <h3 style=""> Team & Partnership building </h3>,
 
 <p style="padding: +15px;">
 Already have an account?
 <a href="{{ url_for('login') }}" >
 <strong>Login</strong>
 </a>
 </p>

 </div>
 
 <br>
 
 <center>
 {% if notice %}
 <section style="color: red; border: 1px solid red">
 <i >{{ notice }}</i>
 
 {% endif %}
 </section>
 </center>
 <br>
 
 
 <section class="create-cluster">
<h2>Create account</h2>
<form action="{{ url_for('register') }}" method="POST">
  <strong>Name</strong>
  <input type="text" name="username" placeholder="Preferred Username"><br>
  <strong>Full Name</strong>
  <input type="text" name="full_name" placeholder="Full Name"><br>
  <strong>Email</strong>
  <input type="email" name="email" placeholder="Email"><br>
  <strong>Location</strong>
  <input type="text" name="location" placeholder="Location"><br><br>
  
  <strong>Key Skills</strong>
  
 <div class="tag-input-container">
 <ul id="tag-list"></ul>
 <input type="text" id="tag-input" placeholder=" Add upto 3 skills you offer" autocomplete="off" />
 <input type="hidden" name="skills" id="skills-input" />
 <ul id="suggestions"></ul>
 </div>
 
  <br>
  <strong>Password</strong>
  <input type="password" name="password" placeholder="Password"><br>
  <strong>Confirm Password</strong>
  <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
  
  <em> By Clicking register cornfirms that you agree to our <a href="{{ url_for('about') }}">Terms and Conditions.</a></em><br>
  
  <button class="dashboardBtn" type="submit"> Register </button>
</form>

</section>

 
{% include 'partials/footer.html' %}

<script>
   const availableTags = {{ suggested_skills | tojson }};
   </script>
  

<script type="text/javascript" src="{{url_for('static', filename='createCluster.js')}}"></script>
</body>
</html>