<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Cluster conversation, group chat" />
    <meta name="description" content="This is the private Cluster chat" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluster | Chat </title>
    <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
    <style>
        small{
            color: green;
        }
        section{
            border: none;
        }
    </style>
</head>
<body>
    {% include 'partials/header.html' %}
    <div class="" style="width: 100%">
        <section style="padding: 1px;border: none;">
            <center>
                <h2> <a href="{{ url_for('getCluster', id=cluster.id) }}">{{ cluster.name }}</a> Requests </h2>
  
  </section>
        <br>
        <a href="#bottom" >
        <p>Jumb to Bottom</p>
        
        </a>
 {% for request in requests %}
 <div style=" ">
 <section style="color: black">
 <section>
 <div class="thread">
 <strong style="font-size:20px; color: green;"> {{ request.title }}</strong>
 <span> by 
 <a href="{{ url_for('getUser', user_id=request.author_id) }}" style="color: blue">@{{ request.author_name }}</a>
 </span>
 <br>
 <p>{{ request.body }}</p>
 <small>{{ request.created | naturaltime }}</small>
 </section>
 <div class="comments">
 <h3>🗣 ️Commments</h3>
 {% for comment in request.comments %}
 <p>
 {% if comment.user %}
 <a href="{{ url_for('getUser', user_id=comment.user.id) }}" style="color: blue">@{{ comment.user.name }}</a> 
 {{ comment.text }} 
 <br>
 <small>{{ comment.timestamp | naturaltime }}</small>
 {% else %}
 <span style="color: red;">Comment deleted</span>
 {% endif %}
 </p>
 {% endfor %}
 <!-- Comment Form -->
 <form method="POST" action="{{ url_for('requested_comment', cluster_id=cluster.id, chatId=request.chatId)}}" class="create-cluster">
 <textarea type="text" name="text" placeholder="Your comment" required></textarea><br>
 <button id="clicked" type="submit" class="dashboardBtn">Post Comment</button>
 </form>
 </div>
 
 <br><br>
   <section style="padding: 5px;border: none;">
   <center>
   <form method="POST" action="{{ url_for('accept_request', cluster_id=cluster.id, request_id=request.chatId) }}">
   <button class="dashboardBtn" style=" width: 100%;" type="submit">Accept Request</button>
   </form>
   <form method="POST" action="{{ url_for('decline_request', cluster_id=cluster.id, request_id=request.chatId) }}">
   <button class="dashboardBtn" style="background: red; width: 100%;" type="submit">Decline and Delete</button>
   </form>
   </center>
   <br>
   </section>
   
   <br>
   </section>
 </div>
 
 
 
 </section>
 </div>
 <br>
 
 
 
 {% endfor %}
 
  <span id="bottom"></span>
    <br>
    {% include 'partials/footer.html' %}
    
    <script>
    const audio = new Audio('{{ url_for('static', filename='ztink.wav') }}');
    
    document.addEventListener('click', (event) => {
    if (event.target.classList.contains('dashboardBtn')) {
    audio.play();
    }
    });
    </script>
</body>
</html>