<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Set, Set, Password" />
  <meta name="description" content="Set new password" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  </head>
<body>

{% include 'partials/header.html' %}
  <div class="container">
  
    <section class="create-cluster">
    <h3>Clusters Hub password reset</h3>
    
  <form method="POST" action="{{ url_for('reset_password', token=token) }}">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>
  <label for="confirm_password">Confirm Password:</label>
  <input type="password" id="confirm_password" name="confirm_password" required>
  <button type="submit" class="dashboardBtn">Reset Password</button>
  </form>
  
       
    </section>
    </div>
    
    {% include 'partials/footer.html' %}
    
   </body>
 </html>