<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Welcome, Register, Free Account" />
  <meta name="description" content="Welcome, Join for Clusters Hub now " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Clusters Hub</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}
 </div>
 
 <br>
 
 <center>
 {% if notice %}
 <section style="color: red; border: 1px solid red">
 <i >{{ notice }}</i>
 {% endif %}
 </section>
 </center>
 <br>
 
 
 <section class="create-cluster">
<h2>Update account details</h2>
<p>Only fill where you want to update</p>
<form action="{{ url_for('register_update') }}" method="POST">
  <strong>Username</strong>
  <input type="text" name="username" placeholder="Preferred Username"><br>
  <strong>Location</strong>
  <input type="text" name="location" placeholder="Location"><br><br>
  
  <strong>Edit About</strong>
  <textarea name="description" placeholder="About you"></textarea><br><br>
  
  <strong>Public links</strong>
  <input type="text" name="website" placeholder="website or Link"><br>
  <input type="text" name="second_website" placeholder="Link 2 "><br><br>
  
  <strong>Update Skills</strong>
  
 <div class="tag-input-container">
 <ul id="tag-list"></ul>
 <input type="text" id="tag-input" placeholder=" Add upto 3 skills you offer" autocomplete="off" />
 <input type="hidden" name="skills" id="skills-input" />
 <ul id="suggestions"></ul>
 </div>
 
  <br>
  <strong>Change Email <small>(first make sure you have access to new email address)</small></strong>
  <input type="email" name="email" placeholder="New Email address"><br>
  
  <strong>Update Password</strong>
  <input type="password" name="password" placeholder="new Password"><br>
  <strong>Confirm Password</strong>
  <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
  
  <button class="dashboardBtn" type="submit"> Submit Updates</button>
</form>

</section>

<br>
   <!--
   <button onclick="" class="dashboardBtn" style="background: red; width: 90%;"><strong> Delete Account </strong></button>
  -->
   </div>
 
{% include 'partials/footer.html' %}

<script>
   const availableTags = {{ suggested_skills | tojson }};
   </script>
  

<script type="text/javascript" src="{{url_for('static', filename='createCluster.js')}}"></script>
</body>
</html>