<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Account, Settings, Edit Account" />
  <meta name="description" content="Change and add Account information " />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Settings</title>
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='logo.jpg')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
</head>
<body>

{% include 'partials/header.html' %}

 <br>
 <section class="create-cluster">

<h2>🖊️ Edit Account Details</h2>
<form action="/profile_settings" method="POST">
  <strong>Name</strong>
  <input type="text" name="username" placeholder="Preferred Username"><br>
  <strong>Full Name</strong>
  <input type="text" name="full_name" placeholder="Full Name"><br>
  <strong>Email</strong>
  <input type="email" name="email" placeholder="Email"><br>
  <strong>Location</strong>
  <input type="text" name="location" placeholder="Location"><br><br>
  
  <strong>Key Skills</strong>
  
  <div class="tag-input-container">
    <ul id="tag-list"></ul>
    <input type="text" id="tag-input" placeholder="Add upto 3 of your skills" autocomplete="off" />
    <ul id="suggestions"></ul>
    <input type="hidden" name="skills" id="skills-input">
  </div>
  
  <br>
  <strong>New Password</strong>
  <input type="password" name="password" placeholder="Password"><br>
  <strong>Confirm Password</strong>
  <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
  <button class="dashboardBtn" type="submit"> Register </button>
</form>

</section>

 
{% include 'partials/footer.html' %}

<script type="text/javascript" src="{{url_for('static', filename='createCluster.js')}}"></script>
</body>
</html>