<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Cluster, Updates, Page" />
  <meta name="description" content="Cluster Updates" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Updates | Clusters Hub</title>
  <link rel="stylesheet" href="{{url_for('static', filename='createCluster.css')}}">
  <link rel="icon" type="image/jpg" href="{{url_for('static', filename='banner.jpg')}}">
  </head>
<body>

{% include 'partials/header.html' %}
  <center>
  <h2>
  <a href="{{ url_for('getCluster', id=cluster.id) }}"> 
  {{ cluster.name }}</a> updates
  
  </h2>
  </center>
  
  <a href="#bottom" >
  <p>Jumb to Bottom</p>
  </a>
  
{% for update in updates %}
  <div class="container">
  
    <section class="create-cluster">
    <h3>📬 From Clusters Hub</h3>
  <p> {{ update.message }}</p>
   {{ update.timestamp | naturaltime }}
       
    </section>
    </div>
    
    {% endfor %}
    <span id="bottom"></span>
    {% include 'partials/footer.html' %}
    
   </body>
 </html>